h1{color: red;font-style: oblique;font-size: 500%;font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;}
h2{color: firebrick;font-size: 250%;}
h3{color: firebrick;font-size: 250%;}
h11{font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;font-size: 160%;}
h12{font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;font-size: 160%;}
h13{font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;font-size: 160%;}
h14{font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;font-size: 160%;}
h15{font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;font-size: 160%;}
h16{font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;font-size: 160%;}
h17{font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;font-size: 160%;}
h18{font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;font-size: 160%;}
h19{font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;font-size: 160%;}
p{font-size: 200%;background-color: lightgray;}
p1{font-size: 150%;}
p2{font-size: 150%;}
p3{font-size: 150%;}
p4{font-size: 150%;}
p5{font-size: 150%;}
p6{font-size: 150%;}
p7{font-size: 150%;}
p8{font-size: 150%;}
p9{font-size: 150%;}
th{text-align: center;font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;font-size: 150%;border-width: medium;}
table{border-collapse: collapse;border-color: gray;border-width: medium;}
td{font-size: 150%;text-align: center;border-width: medium;}
h22{font-size: 150%;font-style: oblique;}
h55{font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;font-size: 140%;align-content: center;}